.search-product{
    display: flex;
    width: 80%;
}

.search-product input{
    width: 60%;
    padding: 10px;
}

.sort-by{
    width: 205;
}
.sort-by select{
    padding: 10px;
}

.filter-by {
    margin-left: 55px;
    margin-bottom:20px;
}

.filter-by button {
    padding: 5px;
    margin: 5px;
}